@charset "UTF-8";



footer{
	margin-top: 120px;
}

label{
	color: white;
}

#formSelezione, #rimuoviForm, #formOpera{
	text-align: center;
	background-color: #343a40;
	border-radius: 1.2em;
	padding: 5%;
	width: 75%;
}

#rimuoviForm{
	margin-top:10%;
	margin-left: 20%;
	text-align: center;
}

#rimuoviForm input{
	margin-left: 11%;
}

#rimuoviForm button{
	margin-left: 25%;
}

#formSelezione{
	margin-left: 20%;
}

.block {
    margin-left: auto;
    margin-right: auto;
}
img#immagineOpera, img#copertinaOpera{
	display:none;
	border-radius: 1.2em;
	max-height:300px;
	max-width:300px;
	object-fit:scale-down;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
}

@media only screen and (max-width: 1000px){
	
	#formSelezione{
		margin-left: 12%;
		margin-bottom: 5%;
	}
	
	#rimuoviForm{
		margin-left: 12%;
		margin-bottom: 5%;
	}
	
	form{
		margin-left: 12%;
	}
}
