@charset "ISO-8859-1";
body{

    margin-top:20px;
	background-image:url('../img/sfondo.jpg');
	background-position:center;
	color:white!important;
	background-repeat: no-repeat;

	
}


.btn-default {
    border-color: rgba(24,28,33,0.1);
    background: rgba(0,0,0,0);
    color: #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}


.card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24,28,33,0.012);
    background-color:#343a40!important;
    opacity: 0.85!important;
    height:550px!important;
	overflow:auto!important;
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}
html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}
.account-settings-multiselect ~ .select2-container {
    width: 100% !important;
}
.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}
.material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}
.dark-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}
.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}
.light-style .account-settings-links .list-group-item.active {
    color: white!important;
}
.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24,28,33,0.03) !important;
}


/* http://caniuse.com/#search=variables */
:root {
  --avatar-size: 4rem;
  /* change this value anything, e.g., 100px, 10rem, etc. */
}

.circle {
  background-color: #ccc;
  border-radius: 50%;
  height: var(--avatar-size);
  text-align: center;
  width: var(--avatar-size);
}

.initials {
  font-size: calc(var(--avatar-size) / 2); /* 50% of parent */
  line-height: 1;
  position: relative;
  top: calc(var(--avatar-size) / 4); /* 25% of parent */
}
 .table{
 opacity: 0.85;
 }

.list-group-item {
    background-color:#343a40!important;
    opacity: 0.85;
}
a.list-group-item {
  color: white!important;
}

a.list-group-item:not([href]):not([class]) {
  color: #fed136!important;
 
}
a.list-group-item:not([href]):not([class]):hover {
  color: #fed136!important;
  
}

/* Styles Eventi in GuidaPersonalPage.jsp */
#eventTable .actionEvents ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
}

#eventTable .actionEvents ul li {
    float: left;
}

#eventTable .actionEvents ul li svg {
    font-size: 21px;
}

#eventTable #copertina img {
    object-fit: cover;
}

#sectionEvents .alert button span {
    font-size: 25px;
}

#sectionEvents .alert {
    margin-right: 20px;
}
/* END Styles eventi in GuidaPersonalPage.jsp */
